*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    margin: 1rem;
    padding: 1rem;
    border: 3px solid blue;
    border-radius: 1rem;
    background-color: black;
}

.main::before{
    content: '';
    background-image: url('');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    

}

.main::after{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 140vh;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}


body{
    margin: 0;
    color:white ;
    background: url('https://media1.tenor.com/m/crNkPq4HPNgAAAAC/blue-code.gif');
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
    
}



/* @font-face {
    font-family: '';
    src: url();
} */

@media only screen and (min-width:768px){
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after
    {
        width: 70vw;
    }
}

